@model PostListViewModel

@{
    ViewData["Title"] = "Poster";
}

<h2>Inlägg</h2>
<div class="">
    @foreach (var post in Model.Posts)
    {
        <div class="">
            <div class="thumbnail">
                <img src="@post.ImageUrl" alt="">
            </div>
            <div class="caption">
                <h3>@post.Title</h3>
                <p>@post.Content</p>
                <h4>@post.Created</h4>
            </div>
            
        </div>
    }

</div>

