@model InlibrisVeritas.Models.IndexViewModel
@{
    ViewData["Title"] = "Om oss";
}
<div class="parallax-about"></div>
<div class="welcome-div">
    <h2>Om In libris veritas</h2>
    <p>
        In libris veritas bildades i Uppsala 2008 av ett gäng läsglada studenter.
        Nu är studietiden förbi, men läslusten finns kvar. Vi har läst över 100 böcker tillsammans.
    </p>
</div>

<div class="section-c">
    <h3>Medlemmar</h3>
    <div id="members"></div>
</div>

<div class="concept-div">
    <img class="concept-img" src="~/img/liv.jpg" alt="konceptbild" />
    <div class="concept-text">
        <h2>In vino vita</h2>
        <p>
            "Den som har rakat bikinilinjen får åka hem!"
        </p>
        <p>
            “Det är inte på något sätt alls, man måste själv bestämma hur man ska tolka verkligheten.” ― Gun-Britt Sundström, Maken
        </p>
        <p>
            <a href="https://www.instagram.com/inlibrisveritasinvinovita/" target="_blank"><i class="fab fa-instagram"></i></a>
        </p>
    </div>
</div>

<script src="~/js/images.js"></script>