@model InlibrisVeritas.Models.IndexViewModel
@{
    ViewData["Title"] = "In Libris Veritas";
}
@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<div class="welcome-div">
    <h2>Bokklubben In Libris Veritas</h2>
    <p>
        Systrar av ord och krigarinnor, hjältinnor, ryttarinnor snart i
        frontlinjen i skolor, sjukhus och bibliotek systrar av läsare,
        systrar av omläsare vagabonder och förflugna fåglar systrar av lust,
        systrar av liv
    </p>
</div>

<div class="concept-div">
    <img class="concept-img" src="img/concept.jpg" alt="konceptbild" />
    <div class="concept-text">
        <h2>Vårt koncept</h2>
        <p>
            Vi tycker om böcker - därför har vi en bokcirkel. Vi träffas en gång i månaden och diskuterar det vi läst.
            Inga krav, inga måsten och inga påhopp - bara böcker, vänner och vin.
        </p>
        <p>
            Reglerna är enkla. Varje medlem presenterar tre förslag på böcker till varje sammankomst i en bestämd turordning,
            sedan röstar de deltagande om vilken bok de vill läsa. I de fall det blir jämnt så har den som presenterat böckerna rätt att bestämma.
            I fall av sjukdom eller annat förhinder får man avlägga en telefon- eller sms-röst.
        </p>
        <p>
            <a href="https://www.instagram.com/inlibrisveritasinvinovita/"><i class="fab fa-instagram"></i></a>
        </p>
    </div>
</div>

<div class="section-b">
    <div class="form-div">
        <h2>Kontakta oss</h2>
        <form id="myform" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <span asp-validation-for="Name" class="text-danger"></span><br />
            <input asp-for="Name" placeholder="Fullständigt namn" /><br />

            <span asp-validation-for="Email" class="text-danger"></span><br />
            <input type="email" asp-for="Email" placeholder="Din e-post" /><br />

            <span asp-validation-for="Subject" class="text-danger"></span><br />
            <input type="text" asp-for="Subject" placeholder="Ämne" /><br />

            <span asp-validation-for="Message" class="text-danger"></span><br />
            <textarea rows="8" asp-for="Message"
                      placeholder="Skriv ditt meddelande här"></textarea><br />

            <input type="submit" value="Skicka" class="btn" /><br />
            <div class="text-success">@ViewBag.UserMessage</div>
        </form>
    </div>
</div>